<mat-card class="example-card">

</mat-card>
<mat-card class="example-card">

    <mat-card-content>
        <img mat-card-image src="../../../../assets/images/WorkShop/LAB1/LAB1-1.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/WorkShop/LAB1/LAB1-2.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/WorkShop/LAB1/LAB1-3.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/WorkShop/LAB1/LAB1-4.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/WorkShop/LAB1/LAB1-5.png" alt="Photo">
    </mat-card-content>
    <mat-card-actions style="text-align: center;padding-bottom: 50px;">
        <a  download="LAB1" type="png" target="_blank" href="assets/images/WorkShop/LAB1.pdf"> Click here to download </a>
    </mat-card-actions>
</mat-card>