
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title style="font-size: 26px;">เลือกใบงาน</mat-card-title>
      <mat-card-subtitle style="font-size: 30px;"><mat-icon>{{'mouse'}}</mat-icon> FOR CONTOR 3D</mat-card-subtitle>
    </mat-card-header>
<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle (click)="a()">LAB 1</mat-button-toggle>
  <mat-button-toggle (click)="b()">LAB 2</mat-button-toggle>
  <mat-button-toggle (click)="c()">LAB 3</mat-button-toggle>
  <mat-button-toggle (click)="d()">LAB 4</mat-button-toggle>
  <mat-button-toggle (click)="e()">LAB 5</mat-button-toggle>
  <mat-button-toggle (click)="f()">LAB 6</mat-button-toggle>
  <mat-button-toggle (click)="g()">LAB 7</mat-button-toggle>
</mat-button-toggle-group>
</mat-card>

<mat-card>
  <mat-card-header *ngIf="three == 1"> 
    <h1>LAB 1</h1>
  </mat-card-header>
  <mat-card-header *ngIf="three == 2"> 
    <h1>LAB 2</h1>
  </mat-card-header>
  <mat-card-header *ngIf="three == 3"> 
    <h1>LAB 3</h1>
  </mat-card-header>
  <mat-card-header *ngIf="three == 4"> 
    <h1>LAB 4</h1>
  </mat-card-header>
  <mat-card-header *ngIf="three == 5"> 
    <h1>LAB 5</h1>
  </mat-card-header>
  <mat-card-header *ngIf="three == 6"> 
    <h1>LAB 6</h1>
  </mat-card-header>
  <mat-card-header *ngIf="three == 7"> 
    <h1>LAB 7</h1>
  </mat-card-header>
  <mat-card-content *ngIf="three == 1">
    <atft-orbit-controls [rotateSpeed]=1 [zoomSpeed]=1.2>
      <atft-renderer-canvas>

        <atft-perspective-camera [fov]=60 [near]=10 [far]=1100 [positionX]=cameraPositionX positionY=70 translateY=0
          positionZ=40 atft-raycaster-camera atft-raycaster-enable>
        </atft-perspective-camera>

        <atft-scene>
          <!-- <atft-axes-helper size=200></atft-axes-helper>
        <atft-grid-helper size=100 divisions=10></atft-grid-helper> -->

          <atft-point-light color="0xffffff" intensity="1.5" distance="10000" translateX=70 translateY=50 translateZ=50>
          </atft-point-light>
          <atft-point-light color="0xffffff" intensity="1" distance="1000" translateX=-70 translateY=50 translateZ=20>
          </atft-point-light>

          <atft-obj-loader  model="assets/model/dome/LAB 1.obj" material="assets/model/dome/LAB 1.mtl" texturePath=""
            rotateX={{-90|deg2rad}} translateX=70 translateY=0>
          </atft-obj-loader>


        </atft-scene>
      </atft-renderer-canvas>
    </atft-orbit-controls>
  </mat-card-content>
  <mat-card-content *ngIf="three == 2">
    <atft-orbit-controls [rotateSpeed]=1 [zoomSpeed]=1.2>
      <atft-renderer-canvas>

        <atft-perspective-camera [fov]=60 [near]=10 [far]=1100 [positionX]=cameraPositionX positionY=70 translateY=0
          positionZ=40 atft-raycaster-camera atft-raycaster-enable>
        </atft-perspective-camera>

        <atft-scene>

          <atft-point-light color="0xffffff" intensity="1.5" distance="10000" translateX=70 translateY=50 translateZ=50>
          </atft-point-light>
          <atft-point-light color="0xffffff" intensity="1" distance="1000" translateX=-70 translateY=50 translateZ=20>
          </atft-point-light>

          <atft-obj-loader model="assets/model/dome/LAB2.obj" material="assets/model/dome/LAB2.mtl" texturePath=""
            rotateX={{-90|deg2rad}} translateX=70 translateY=0>
          </atft-obj-loader>


        </atft-scene>
      </atft-renderer-canvas>
    </atft-orbit-controls>
  </mat-card-content>
  <mat-card-content *ngIf="three == 3">
    <atft-orbit-controls [rotateSpeed]=1 [zoomSpeed]=1.2>
      <atft-renderer-canvas>

        <atft-perspective-camera [fov]=60 [near]=10 [far]=1100 [positionX]=cameraPositionX positionY=70 translateY=0
          positionZ=40 atft-raycaster-camera atft-raycaster-enable>
        </atft-perspective-camera>

        <atft-scene>

          <atft-point-light color="0xffffff" intensity="1.5" distance="10000" translateX=70 translateY=50 translateZ=50>
          </atft-point-light>
          <atft-point-light color="0xffffff" intensity="1" distance="1000" translateX=-70 translateY=50 translateZ=20>
          </atft-point-light>

          <atft-obj-loader model="assets/model/dome/LAB3.obj" material="assets/model/dome/LAB3.mtl" texturePath=""
            rotateX={{-90|deg2rad}} translateX=70 translateY=0>
          </atft-obj-loader>


        </atft-scene>
      </atft-renderer-canvas>
    </atft-orbit-controls>
  </mat-card-content>
  <mat-card-content *ngIf="three == 4">
    <atft-orbit-controls [rotateSpeed]=1 [zoomSpeed]=1.2>
      <atft-renderer-canvas>

        <atft-perspective-camera [fov]=60 [near]=10 [far]=1100 [positionX]=cameraPositionX positionY=70 translateY=0
          positionZ=40 atft-raycaster-camera atft-raycaster-enable>
        </atft-perspective-camera>

        <atft-scene>

          <atft-point-light color="0xffffff" intensity="1.5" distance="10000" translateX=70 translateY=50 translateZ=50>
          </atft-point-light>
          <atft-point-light color="0xffffff" intensity="1" distance="1000" translateX=-70 translateY=50 translateZ=20>
          </atft-point-light>

          <atft-obj-loader model="assets/model/dome/lab4.obj" material="assets/model/dome/lab4.mtl" texturePath=""
            rotateX={{-90|deg2rad}} translateX=70 translateY=0>
          </atft-obj-loader>


        </atft-scene>
      </atft-renderer-canvas>
    </atft-orbit-controls>
  </mat-card-content>
  <mat-card-content *ngIf="three == 5">
    <atft-orbit-controls [rotateSpeed]=1 [zoomSpeed]=1.2>
      <atft-renderer-canvas>

        <atft-perspective-camera [fov]=60 [near]=10 [far]=1100 [positionX]=cameraPositionX positionY=70 translateY=0
          positionZ=40 atft-raycaster-camera atft-raycaster-enable>
        </atft-perspective-camera>

        <atft-scene>

          <atft-point-light color="0xffffff" intensity="1.5" distance="10000" translateX=70 translateY=50 translateZ=50>
          </atft-point-light>
          <atft-point-light color="0xffffff" intensity="1" distance="1000" translateX=-70 translateY=50 translateZ=20>
          </atft-point-light>

          <atft-obj-loader model="assets/model/dome/LAB5.obj" material="assets/model/dome/LAB5.mtl" texturePath=""
            rotateX={{-90|deg2rad}} translateX=70 translateY=0>
          </atft-obj-loader>


        </atft-scene>
      </atft-renderer-canvas>
    </atft-orbit-controls>
  </mat-card-content>
  <mat-card-content *ngIf="three == 6">
    <atft-orbit-controls [rotateSpeed]=1 [zoomSpeed]=1.2>
      <atft-renderer-canvas>

        <atft-perspective-camera [fov]=60 [near]=10 [far]=1100 [positionX]=cameraPositionX positionY=70 translateY=0
          positionZ=40 atft-raycaster-camera atft-raycaster-enable>
        </atft-perspective-camera>

        <atft-scene>

          <atft-point-light color="0xffffff" intensity="1.5" distance="10000" translateX=70 translateY=50 translateZ=50>
          </atft-point-light>
          <atft-point-light color="0xffffff" intensity="1" distance="1000" translateX=-70 translateY=50 translateZ=20>
          </atft-point-light>

          <atft-obj-loader model="assets/model/dome/LAB6.obj" material="assets/model/dome/LAB6.mtl" texturePath=""
            rotateX={{-90|deg2rad}} translateX=70 translateY=0>
          </atft-obj-loader>


        </atft-scene>
      </atft-renderer-canvas>
    </atft-orbit-controls>
  </mat-card-content>
  <mat-card-content *ngIf="three == 7">
    <atft-orbit-controls [rotateSpeed]=1 [zoomSpeed]=1.2>
      <atft-renderer-canvas>

        <atft-perspective-camera [fov]=60 [near]=10 [far]=1100 [positionX]=cameraPositionX positionY=70 translateY=0
          positionZ=40 atft-raycaster-camera atft-raycaster-enable>
        </atft-perspective-camera>

        <atft-scene>

          <atft-point-light color="0xffffff" intensity="1.5" distance="10000" translateX=70 translateY=50 translateZ=50>
          </atft-point-light>
          <atft-point-light color="0xffffff" intensity="1" distance="1000" translateX=-70 translateY=50 translateZ=20>
          </atft-point-light>

          <atft-obj-loader model="assets/model/dome/LEB7.obj" material="assets/model/dome/LEB7.mtl" texturePath=""
            rotateX={{-90|deg2rad}} translateX=70 translateY=0>
          </atft-obj-loader>


        </atft-scene>
      </atft-renderer-canvas>
    </atft-orbit-controls>
  </mat-card-content>
</mat-card>


<mat-card *ngIf="three == 0" class="example-card">
  <mat-card-header>
    <h2>เลือกใบงาน</h2>
  </mat-card-header>
  <mat-card-content>
    <h3><mat-icon>{{'mouse'}}</mat-icon> FOR CONTOR 3D</h3> 
  </mat-card-content>
</mat-card>
