<mat-card class="example-card">

</mat-card>
<mat-card class="example-card">

    <mat-card-content>
        <img mat-card-image src="../../../../assets/images/WorkShop/LAB5/LAB5-1.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/WorkShop/LAB5/LAB5-2.png" alt="Photo">
    </mat-card-content>
    <mat-card-actions style="text-align: center;padding-bottom: 50px;">
        <a  download="LAB5" type="png" target="_blank" href="assets/images/WorkShop/LAB5.pdf"> Click here to download </a>
    </mat-card-actions>
</mat-card>