<mat-card class="example-card">

</mat-card>
<mat-card *ngIf="check == '1'" class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>บททดสอบหลังเรียนบทที่ 3 ลอจิกเกต</mat-card-title>
        <mat-card-subtitle>แบบทดสอบปรนัยชนิดเลือกตอบ จำนวน 4 ตัวเลือก โดยมีคำตอบที่ถูกต้องเพียงข้อเดียว จำนวน 20 ข้อ</mat-card-subtitle>
    </mat-card-header>

        <mat-card-content *ngFor="let pre of work;let i = index">
            <label *ngIf="pre.type=='img'||pre.type=='text'" id="example-radio-group-label">{{pre.p}}</label>
            <label *ngIf="pre.type=='math'" id="example-radio-group-label"><ng-katex [equation]="pre.p"></ng-katex></label>
            <img style="margin-top: 10px;display:flex; max-width: 30%;" *ngIf="pre.type== 'img'" mat-card-image src="{{pre.img}}" alt="Photo">
            
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="pre.favorite">
                <mat-radio-button class="example-radio-button" *ngFor="let season of pre.seasons" [value]="season.id"
                (change)="a($event, i,pre.answer)">
                <ng-katex *ngIf="pre.choiceType=='math'" [equation]="season.choice"></ng-katex>
                <img *ngIf="pre.choiceType== 'img'" mat-card-image style="margin-top: 30px;display:flex; max-width: 80%;" src="{{season.img}}" alt="Photo">
                <div *ngIf="pre.choiceType==''">{{season.choice}}</div>
            </mat-radio-button>
            </mat-radio-group>
            <!-- <div>Your favorite season is: {{pre.favorite}}</div> -->
        </mat-card-content>


</mat-card>

<button *ngIf="check == '1'" class="f"  mat-raised-button color="warn" (click)="b()">Submit</button>


<mat-card *ngIf="check == '2'" class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>ผลการทดสอบหลังเรียนบทที่ 1 ความรู้พื้นฐานด้านระบบดิจิทัล</mat-card-title>
        <mat-card-subtitle>ได้คะแนน</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h1>{{myData}}</h1>
    </mat-card-content>

</mat-card>


<mat-card *ngIf="check == '3'" class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>กรุณาเรียนก่อน</mat-card-title>
    </mat-card-header>
</mat-card>

<mat-card *ngIf="check == '2'" style="position: fixed;right: 0;bottom: 65%;background-color: transparent;">
    <button [routerLink]="['/direction4']"
        style="font-size: 24px;padding: 10px;border-radius: 100px; background-color:gold;" mat-raised-button>Chapter 4
        <mat-icon>{{'double_arrow'}}</mat-icon></button>
</mat-card>