<mat-card class="example-card">
    <!-- <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-053.png" alt="Photo"> -->
</mat-card>
<mat-card *ngIf="chapter == '1'" class="example-card">
    <mat-card-content>
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-055.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-056.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-057.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-058.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-059.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-060.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-061.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-062.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-063.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-064.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-065.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-066.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-067.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-068.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-069.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-070.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-071.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-072.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-073.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-074.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-075.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-076.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-077.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-078.png" alt="Photo">
    </mat-card-content>
</mat-card>

<mat-card style="position: fixed;right: 0;bottom: 50%;background-color: transparent;">
    <button [routerLink]="['/Posttest2']" style="font-size: 24px;padding: 10px;border-radius: 100px; background-color:gold;" (click)="Posttest()" mat-raised-button>Posttest<mat-icon>{{'double_arrow'}}</mat-icon></button>
</mat-card>

<mat-card *ngIf="chapter == '2'" class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>กรุณาทำแบบทดสอบหลังเรียนให้เสร็จ</mat-card-title>
    </mat-card-header>
</mat-card>

<mat-card *ngIf="chapter == '3'" class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>กรุณาทำแบบทดสอบก่อนเรียนให้เสร็จ</mat-card-title>
    </mat-card-header>
</mat-card>