<mat-card class="example-card">

</mat-card>
<mat-card class="example-card">

    <mat-card-content>
        <img mat-card-image src="../../../../assets/images/WorkShop/LAB4/LAB4-1.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/WorkShop/LAB4/LAB4-2.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/WorkShop/LAB4/LAB4-3.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/WorkShop/LAB4/LAB4-4.png" alt="Photo">
    </mat-card-content>
    <mat-card-actions style="text-align: center;padding-bottom: 50px;">
        <a  download="LAB4" type="png" target="_blank" href="assets/images/WorkShop/LAB4.pdf"> Click here to download </a>
    </mat-card-actions>
</mat-card>