<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>ข้อมูลผู้จัดทำ</mat-card-title>
      <mat-card-subtitle>จัดทำโดย นายภูดิศ บุญวิจิตร</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/about.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        จัดทำโดย นายภูดิศ บุญวิจิตร รหัสนักศึกษา 600112416006 มหาวิทยาลัยราชภัฏบุรีรัมย์ คณะวิทยาศาสตร์ สาขาเทคโนโลยีสารสนเทศ (เทคโนโลยีคอมพิวเตอร์) 
      </p>
    </mat-card-content>
  </mat-card>