<mat-card class="example-card">

</mat-card>
<mat-card class="example-card">

    <mat-card-content>
        <img mat-card-image src="../../../../assets/images/WorkShop/LAB6/LAB6-1.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/WorkShop/LAB6/LAB6-2.png" alt="Photo">
    </mat-card-content>
    <mat-card-actions style="text-align: center;padding-bottom: 50px;">
        <a  download="LAB6" type="png" target="_blank" href="assets/images/WorkShop/LAB6.pdf"> Click here to download </a>
    </mat-card-actions>
</mat-card>