<mat-card class="example-card">
    <!-- <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-033.png" alt="Photo"> -->

</mat-card>
<mat-card class="example-card">
    <mat-card-content>
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-033.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-034.png" alt="Photo">
    </mat-card-content>
</mat-card>


<mat-card style="position: fixed;right: 0;bottom: 50%;background-color: transparent;">
    <button [routerLink]="['/Pretest1']" style="font-size: 24px;padding: 10px;border-radius: 100px; background-color:gold;" mat-raised-button>Pretest<mat-icon>{{'double_arrow'}}</mat-icon></button>
</mat-card>