<mat-card class="example-card">
    <!-- <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-033.png" alt="Photo"> -->

</mat-card>
<mat-card class="example-card">
    <mat-card-content>
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-017.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-018.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-019.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-020.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-021.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-022.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-023.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-024.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-025.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-026.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-027.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-028.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-029.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-030.png" alt="Photo">
        <img mat-card-image src="../../../../assets/images/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2/เอกสารประกอบสอน-ระบบดิจิทัล-แก้ไข2-031.png" alt="Photo">

    </mat-card-content>
</mat-card>
<mat-card  style="position: fixed;right: 0;bottom: 50%;background-color: transparent;">
    <button [routerLink]="['/direction1']" style="font-size: 24px;padding: 10px;border-radius: 100px; background-color:gold;" mat-raised-button>Chapter 1<mat-icon>{{'double_arrow'}}</mat-icon></button>
</mat-card>










<!-- ==============================================================
Simple four boxes Row
==============================================================
<div fxLayout="row wrap">
    column
    <div fxFlex.gt-lg="66" fxFlex.gt-md="66" fxFlex.gt-xs="100" fxFlex="100">

        <app-sales-overview-grap></app-sales-overview-grap>

    </div>
    column
    column
    <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">

        <app-visiter-graph></app-visiter-graph>

    </div>
    column
</div>

==============================================================
Image Card row
==============================================================
<div fxLayout="row wrap">
    Card column
    <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">

        <app-sticker></app-sticker>
        <app-contacts></app-contacts>

    </div>
    Card column
    Card column
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">

        <app-activity></app-activity>

    </div>
</div> -->