.example-card {
    margin: auto;
    margin-top: 100px;
    width: 75%; 
    
  }
  .example-header-image {
    background-image: url('../../../../assets/images/clipart3171114.png');
    background-size: cover;
  }
  
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  .mat-card-header{
    padding-top: 20px;
  }
  .f{
    margin-top: 20px;font-size: 24px;padding: 10px;margin-left: 45%;
  }