<mat-card class="example-card">
    <mat-card-header>
        SET Storage
    </mat-card-header>
    <mat-card-content>
        <button style="font-size: 18px;padding: 10px;border-radius: 100px;margin: 10px;  background-color:gold;" mat-raised-button
            (click)="setZero()">SET ZERO ALL</button>
        <button style="font-size: 18px;padding: 10px;border-radius: 100px;margin: 10px;  background-color:gold;" mat-raised-button
            (click)="setZerochapter1()">SET ZERO Chapter 1</button>
        <button style="font-size: 18px;padding: 10px;border-radius: 100px;margin: 10px;  background-color:gold;" mat-raised-button
            (click)="setZerochapter2()">SET ZERO Chapter 2</button>
        <button style="font-size: 18px;padding: 10px;border-radius: 100px;margin: 10px;  background-color:gold;" mat-raised-button
            (click)="setZerochapter3()">SET ZERO Chapter 3</button>
        <button style="font-size: 18px;padding: 10px;border-radius: 100px;margin: 10px;  background-color:gold;" mat-raised-button
            (click)="setZerochapter4()">SET ZERO Chapter 4</button>
    </mat-card-content>
</mat-card>